<footer class="footer">
	<div class="container">
	<div class="row"></div>
	  <div class="col-md-4">
		<h5>Navigation</h5>
		<button class = "nav-button" onclick="window.location.href='http://localhost:4200'">Retourner à l'accueil</button>
		</div>
	  <div class="col-md-4">
		<h5>À propos</h5>
		<p>Site réalisé dans le cadre du projet de fin d'année de la formation d'ingénieur de l'ISEN Brest.</p>
	  </div>
	  <div class="col-md-4">
		<h5>Liens utiles</h5>
		<ul class="list-unstyled">
		  <li><a href="https://www.isen.fr/" style="color : #ffffff">ISEN</a></li>
		  <li><a href="https://www.protection-civile.org/formation-sst/" style="color : #ffffff">Se former en tant qu'SST</a></li>
		</ul>
	  </div>
	  <div class="col-md-4">
		<h5>Contacts</h5>
		<ul class="list-unstyled">
		  <li><a href="https://www.linkedin.com/in/vadim-marchand-1179b725a/" style="color : #ffffff">Vadim Marchand </a> - vadim.marchand&#64;isen-ouest.yncrea.fr</li>
		  <li><a href="https://www.linkedin.com/in/lucie-gautier-48466a221/" style="color : #ffffff">Lucie Gautier</a> - lucie.gautier&#64;isen-ouest.yncrea.fr</li>
		</ul>  
	  </div>			

