<div class="landing-block">
	<h2>Bienvenue sur le site ISEN, vous pourrez y trouver les informations relatives
		<br>
		à la présence des SST sur les sites du Groupe.</h2>
	<img src="https://upload.wikimedia.org/wikipedia/fr/f/f0/Yncrea_BM_ISEN-_horizontal-1.jpg" alt="ISEN logo">
	<div class="landing-links">
	  <br>
	  <p>Continuer en tant que : </p>
	  <br>	
	  <button class = "button-index" onclick="window.location.href='http://localhost:4200/page-admin'">Administrateur</button>
	  <button class = "button-index" onclick="window.location.href='http://localhost:4200/lieux'">Visiteur</button>
	</div> 
  </div>

  
