.landing-block {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 20px;
	height: 100vh; // Set the height to 100% of the viewport height

	h2 {
		margin-bottom: 20px;
		font-size: 80px;
	}

	.landing-links {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin-top: 20px;

		p {
			margin-bottom: 10px;
			font-size: 80px;
		}

		button {
			margin-bottom: 10px;
			padding: 10px 20px;
			border: none;
			border-radius: 5px;
			background-color: #007bff;
			color: #fff;
			font-size: 60px;
			cursor: pointer;

			&:hover {
				background-color: #0056b3;
			}
		}
	}
	.landing-links button {
		margin-right: 10px;
	}
	img {
		margin-top: 20px;
		width: 50%;
	}
}
