<div class="landing-block">
	<h2>Bienvenue sur le site ISEN, vous pourrez y trouver les informations relatives à la présence des SST sur les sites du Groupe.</h2>
	<div class="landing-links">
	  <br>
	  <p>Continuer en tant que : </p>
	  <br>	
	  <button class = "button-index" onclick="window.location.href='page-admin'">Administrateur</button>
	  <button class = "button-index" onclick="window.location.href='lieux'">Visiteur</button>
	</div> 
	<img src="https://upload.wikimedia.org/wikipedia/fr/f/f0/Yncrea_BM_ISEN-_horizontal-1.jpg" alt="ISEN logo">
  </div>

  
