.signaler-card {
	box-sizing: border-box;
	width: 40%;
	margin: 100px auto;
	padding: 30px 30px;
	border-radius: 50px;
	background: #f3d5d5;
	box-shadow:  9px 9px 9px #a49090,
				-9px -9px 9px #ffffff;
	display: flex;
	flex-direction: column;
	align-items: center; /* Centre les éléments horizontalement */
	justify-content: space-between; /* Aligne les éléments aux extrémités verticalement */

	h2 {
		margin-bottom: 0;
		font-size: 40px;
	}
	
	p {
		font-weight: 300;
		font-size: 25px;
	}

	input {
		width: 100%;
		height: 50px;
		margin-bottom: 10px;
		border-radius: 50px;
		border: none;
		padding: 0 20px;
		font-size: 20px;
		box-sizing: border-box;
	}
	textarea {
		margin-bottom: 10px;
		border-radius: 50px;
		border: none;
		padding: 0 20px;
		font-size: 20px;
		box-sizing: border-box;
		width: 100%; 
		height: 300%;
	}
}