.page-content {
	background-color: #ffffff;
	padding: 40px;
	font-family: 'Source Sans Pro', sans-serif;
  }

  
  .container {
	max-width: 80%;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 60px;
  }

  .alerte{
	color: red;
	font-size: 50%;
  }	
  

  .container-bouton {
	display: flex;
	justify-content: center;
	margin-top: 20px;
  }
  
  .button_back {
	display: inline-block;
	text-decoration: none;
	cursor: pointer;
	font-weight: 700;
	border-radius: 4px;
	border: 1px solid #1772FF;
	padding: 8px 12px;
	color: #1772FF;
	background-color: #fff;
	transition: all 0.3s ease;
  }
  
  .button_back:hover {
	background-color: #1772FF;
	color: #fff;
  }
  
  .fa-arrow-left::before {
	content: "\2190";
  }
  
  .table {
	width: 70%;
	border: 1px solid #EEEEEE;
  }
  
  .table-header {
	display: flex;
	width: 100%;
	background: #000;
	padding: 18px 0;
  }
  
  .table-row {
	display: flex;
	width: 100%;
	padding: 18px 0;
	&:nth-of-type(odd) {
	  background: #EEEEEE;
	}
  }
  
  .table-data, .header__item {
	flex: 1 1 100%;
	text-align: center;
	font-size: 40px;
  }
  
  .header__item {
	text-transform: uppercase;
  }
  
  .filter__link {
	color: white;
	text-decoration: none;
	position: relative;
	display: inline-block;
	padding: 0 12px;
	&::after {
	  content: '';
	  position: absolute;
	  right: -9px;
	  color: white;
	  font-size: 12px;
	  top: 50%;
	  transform: translateY(-50%);
	}
	&.desc::after {
	  content: '(desc)';
	}
	&.asc::after {
	  content: '(asc)';
	}
  }

  
.logout-container {
	position: absolute;
	top: 20px;
	right: 20px;
	display: flex;
	align-items: center;
  }
  
  .logout-button {
	background-color: #f44336;
	color: white;
	border: none;
	padding: 10px 20px;
	cursor: pointer;
  }
  
  .logout-icon {
	width: 24px;
	height: 24px;
	margin-left: 10px;
	cursor: pointer;
  }
  