.signaler-card {
	box-sizing: border-box;
	width: 40%;
	margin: 100px auto;
	padding: 30px 30px;
	border-radius: 50px;
	background: #f3d5d5;
	box-shadow:  9px 9px 9px #a49090,
				-9px -9px 9px #ffffff;
	display: flex;
	flex-direction: column;
	align-items: center; /* Centre les éléments horizontalement */
	justify-content: space-between; /* Aligne les éléments aux extrémités verticalement */

	h2 {
		margin-bottom: 0;
		font-size: 40px;
	}
	
	p {
		font-weight: 300;
		font-size: 25px;
	}

	input {
		width: 100%;
		height: 50px;
		margin-bottom: 10px;
		border-radius: 50px;
		border: none;
		padding: 0 20px;
		font-size: 20px;
		box-sizing: border-box;
	}
	textarea {
		margin-bottom: 10px;
		border-radius: 50px;
		border: none;
		padding: 0 20px;
		font-size: 20px;
		box-sizing: border-box;
		width: 100%; 
		height: 300%;
	}
}

.button {
	display: flex;
	justify-content: center;
	background-color: #ff0000;
	color: #ffffff;
	padding: 10px 20px;
	border-radius: 5px;
	border: none;
	font-size: 16px;
	cursor: pointer;
	transition: background-color 0.3s ease;

	&:hover {
		background-color: #cc0000;
	}
}

.container-bouton {
	display: flex;
	justify-content: center;
	margin-top: 20px;
  }
  
  .button_back {
	display: inline-block;
	text-decoration: none;
	cursor: pointer;
	font-weight: 700;
	border-radius: 4px;
	border: 1px solid #1772FF;
	padding: 8px 12px;
	color: #1772FF;
	background-color: #fff;
	transition: all 0.3s ease;
  }
  
  .button_back:hover {
	background-color: #1772FF;
	color: #fff;
  }
  
  .fa-arrow-left::before {
	content: "\2190";
  }