<div class="admin-card">
	<h2>{{ lieu.title }}</h2>
	<img [src]="lieu.image_url" [alt]="lieu.title">
	<p>Présence {{ lieu.date | date: 'le dd/MM/yy, à HH:mm'}}</p>
	<p>Nombre de SST présents sur site : {{ lieu.nb_sst_present }}</p>
	<p>Nombre de SST recensés : {{ lieu.nb_sst_totaux }}</p>
	<div class="button-container">
		<button class = "signaler-button" onclick="window.location.href='http://localhost:4200/signaler'">Signaler un accident</button>
		<button class = "signaler-button" onclick="window.location.href='http://localhost:4200/visualisation'">Visualiser la présence</button>
	</div>
</div>


