.container {
	margin: 20px auto; /* auto pour centrer horizontalement */
	padding: 40px;
	border: 2px solid #ccc; /* Épaisseur de la bordure */
	border-radius: 10px;
	max-width: 60%; /* Largeur maximale du conteneur */
  }
  
  .table {
	width: 100%;
	border-collapse: collapse;
  }
  
  .table th, .table td {
	border: 10px solid #ddd; /* Épaisseur de la bordure des cellules */
	padding: 25px; /* Espace à l'intérieur des cellules */
  }
  
  .table th {
	background-color: #f2f2f2;
	text-align: left;
  }

.container_empty {
	text-align: center;
	margin: 20px auto;
	font-size: x-large;
}

  